.App {
  font-family: monospace;
  text-align: center;
  padding: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

